<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <classes>
		  <class name="ecom.Login_Api"></class> 
		  <class name="ecom.AddProduct_intoApp"></class>
		   <class name="ecom.Place_order"></class>
		   <class name="ecom.Delete_Api"></class>

	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
